<html>
	<head>
		<meta charset="utf-8">
    	<title>Расписание занятий</title>
    </head>
	<body>
		<h1>Введите, что Вы хотите удалить</h1>
		<form action="/delete_data_res" method="POST">
    		<p>Почта студента: <input name="email" value="impanteleyeva@gmail.com"></p>
    		<p>Предмет: <input name="class_name" value="Программирование"></p>
    		<p>Начало: <input name="time" value="2018-11-19 14:10:00"></p>
    		<p>Преподаватель: <input name="teacher" value="Иванов Илья Иванович"></p>
    		<p>Аудитория: <input name="classroom" value="504"></p>
    		<p>Корпус: <input name="building" value="Старая Басманная ул., д. 21/4"></p>    		
    		<input type="submit">
		</form>
		<form action="/">
			<p><input type="submit" value="Назад"></p>
		</form>
	</body>
</html>