<html>
	<head>
		<meta charset="utf-8">
    	<title>Расписание занятий</title>
    </head>
	<body>
		<h1>Выберите действие</h1>
		<form action="/see_data">
			<p><input type="submit" value="Узнать расписание"></p>
		</form>
		<form action="/delete_data">
			<p><input type="submit" value="Удалить данные"></p>
		</form>
		<form action="/update_data">
			<p><input type="submit" value="Изменить данные"></p>
		</form>
		<form action="/add_data">
			<p><input type="submit" value="Добавить данные"></p>
		</form>
	</body>
</html>